/* font face property is used to make that font available to the stylesheet */
@font-face {
    /* ttf: true type font file */
    src: url("starlight-personal-use/StarlightDEMO.ttf");
    font-family: Starlight;
    /* website used to download the font is 1001fonts.com */
}

body {
    margin: 0;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    color: #5FB16E;
    text-align: center;
}

#herocontent-div {
    /* downloaded gif from giphy.com by right click, save img as */
    /* usually the moving images or gifs will be in webp format */
    background: url(idligif.gif); 
    background-size: cover;
    margin: 0;
    padding: 180px;
}

.shadow {
    /* this is a utility class */
    /* utility class is a class which contains single property and can be reused */
    text-shadow: 3px 1px 2px white;
    /* syntax of text shadow: <px towards right> <px towards down> <blur extent> <colour>*/
    /* negative values of first 2 is for its opposite direction */
}

.apply-btn {
    padding: 8px 16px;
    background: white;
    border: none;
    color: #5FB16E;
    /* inherit keyword will inherit attributes from its parent tag */
    /* else you can explicitly mention the font used */
    font-family: inherit;
    font-weight: inherit;
}

h3 {
    /* usage of downloaded font */
    font-family: Starlight;
}

.cta {
    font-size: 70px;
}