/* font face property is used to make that font available to the stylesheet */
@font-face {
    /* ttf: true type font file */
    src: url("starlight-personal-use/StarlightDEMO.ttf");
    font-family: Starlight;
    /* website used to download the font is 1001fonts.com */
}

body {
    margin: none;
    border: none;
}

.content-div {
    background: url(spices-img2.jpg);
    background-size: cover;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin: none;
    padding: 300px;
}

.apply-btn {
    padding: 8px 16px;
    background: white;
    border: none;
    /* inherit keyword will inherit attributes from its parent tag */
    /* else you can explicitly mention the font used */
    font-family: inherit;
    font-weight: inherit;
}

h3 {
    font-family: Starlight;
}

.cta {
    font-size: 70px;
}